body {
    background-color: #081B2D;
}

header {
    height: 100px;
    background-color: #1C2F42;
}

nav h1 {
    display: flex;
    color: #4390DB;
    margin-left: 40px;
    font-size: 35px;
}

nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0 auto;
    max-width: 1000px;
}

nav ul {
    display: flex;
    list-style: none;
    font-size: 20px;
}

nav ul li {
    margin-right: 40px;
}

nav ul a:link {
    text-decoration: none;
    color: #4390DB;
}

nav ul a:visited {
    color: #4390DB;
}

nav ul a:hover {
    color: #7BBEFF;
}

.current_nav {
    color: #ffffff;
}

footer {
    min-height: 100px;
    background-color: #1C2F42;
    color: #4390DB;
}

.footer_container {
    max-width: 1000px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

footer .footer_copyright {
    margin-left: 40px;
}

footer .footer_contact a {
    display: flex;
    flex-direction: column;
    margin: 10px 40px 10px 0px;
}

footer .footer_contact a:link {
    text-decoration: none;
    color: #4390DB;
}

footer .footer_contact a:visited {
    color: #4390DB;
}

footer .footer_contact a:hover {
    color: #7BBEFF;
    text-decoration-line: underline;
}

main {
    display: flex;
    min-height: 600px;
    background-color: white;
    color: black;
}

.main_container {
    max-width: 700px;
    margin: 0px auto;
}

.main_container p {
    margin-left: 40px;
    margin-right: 40px;
    line-height: 30px;
}

.main_container h2 {
    text-align: center;
    margin-left: 40px;
    margin-right: 40px;
}

img {
    margin-top: 20px;
}

.table_movies {
    margin-top: 20px;
}

.table_movies thead th {
    background-color: rgba(0, 255, 0, 0.322);
    padding: 20px 20px;
    margin-top: 20px;
}

.table_movies tbody td {
    background-color: rgb(112, 103, 70);
    padding: 20px 20px;
}

.ul_links :first-child {
    color: black;
}

.ul_links ul li {
    margin: 15px 0px;
    list-style: none;
}

.ul_links a:link {
    text-decoration: none;
    color: black;
}

.ul_links a:visited {
    color: black;
}

.ul_links a:hover {
    text-decoration-line: underline;
    color: #4390DB;

}

.form_contact {
    margin-top: 20px;
}

.form_contact input {
    display: flex;
    flex-direction: column;
    margin: 10px;
}

.form_contact select {
    margin: 0px 10px 10px 10px;
}

.form_contact textarea {
    display: flex;
    margin: 0px 10px 10px 10px;
}