body {
    background-color: darkslategray;
}

header {
    height: 100px;
    background-color: darkgrey;
}

nav h1 {
    display: flex;
    color: white;
    margin-left: 40px;
    font-size: 35px;
}

nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0 auto;
    max-width: 1000px;
}

nav ul {
    display: flex;
    color: white;
    list-style: none;
    font-size: 20px;
}

nav ul li {
    margin-right: 40px;
}

nav ul a:link {
    text-decoration: none;
    color: white;
}

nav ul a:visited {
    color: white;
}

nav ul a:hover {
    color: green;
}

nav ul a:active {
    color: black;
}

.current_nav {
    background-color: blue;
}

footer {
    min-height: 100px;
    background-color: rgb(41, 88, 88);
    color: white;
}

.footer_container {
    max-width: 1000px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

footer .footer_copyright {
    margin-left: 40px;
}

footer .footer_contact a {
    display: flex;
    flex-direction: column;
    margin: 10px 40px 10px 0px;
}

footer .footer_contact a:link {
    text-decoration: none;
    color: white;
}

footer .footer_contact a:visited {
    color: white;
}

footer .footer_contact a:hover {
    color: green;
}

footer .footer_contact a:active {
    color: black;
}

main {
    display: flex;
    min-height: 600px;
    background-color: rgb(27, 49, 58);
}

.main_container {
    max-width: 1000px;
    margin: 0px auto;
}

.main_container p {
    margin-left: 40px;
    margin-right: 40px;
}

.main_container h2 {
    margin-left: 40px;
    margin-right: 40px;
}